.avatar {
  height: 7rem;
  width: 7rem;
  border-radius: 50%;

  &.mobile {
    @include responsive(tab-land) {
      display: none;
    }
  }

  &.tab-desk {
    display: none;

    @include responsive(tab-land) {
      display: block;
    }
  }

  @include responsive(tab-port) {
    height: 11.7rem;
    width: 11.7rem;
  }
}
