.btn {
  color: hsl(var(--color-white));
  padding: 2rem 1.6rem;
  font-family: "Space Mono", sans-serif;
  font-size: 1.4rem;
  font-weight: 700;
  line-height: 1;
  border-radius: 1rem;
  border: none;
  cursor: pointer;
  transition: 0.3s ease background-color;

  &.blue {
    background-color: hsl(var(--color-primary-blue));
  }

  &.blue:hover {
    background-color: hsl(var(--color-light-blue));
  }
}
